*{
    margin:0px;
    padding:0px;
}
body{
    background:lightgray;    
    font-family:Arial, Helvetica, sans-serif;
}

#container{
    width:70%;
    margin: 0 auto;
    border:1px solid black;
}

header{
    background:red;
    height:100px;
    width:auto;
    margin: 0px;
    text-align:center;
    line-height:100px;
    color:white;
    border-bottom:3px dashed black;
}

nav{
    background:lightblue;
    height:50px;
    border-bottom:1px solid black;
}

nav ul li{
    float:left;
    list-style:none;
    margin:10px;
    line-height:30px;
}

.clearfix{
    clear:both;
}


#content{
    float:left;
    width:calc(80% - 80px);
    min-height:300px;
    background:green;
    padding: 40px;
}

.article{
    color:white;
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

aside{
    float:left;
    width:calc(20% - 20px);
    min-height:300px;
    background:orange;
    padding:10px;
}

footer{
    background:black;
    color:white;
    text-align:center;
    height:50px;
    line-height:50px;
}
