*{
    box-sizing: border-box;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin:auto;
}

.slides{
    display: none;
}

.next, .prev{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:#fff;
    font-weight: bold;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.text{
    color:#fff;
    font-size:15px;
    padding:8px 12px;
    position: absolute;
    bottom:50px;
    width:100%;
    text-align: center;
}

.numbertext{
    color:#fff;
    font-size:12px;
    padding:8px 12px;
    position: absolute;
    top:0;
}

.punto{
    cursor: pointer;
    height: 15px;
    width:15px;
    margin: 0 2px;
    border-radius:50%;
    background-color:#bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .punto:hover{
    background-color:#717171;
}


